// White's
$white-color: #ebe9fc;
$pure-white-color: #ffffff;

$bg-black: #212121;
$accent-color: #ffd740;

// Colors
$primary-color: #ff5252;
$secondary-color: #6c6565;
$gradient: linear-gradient(10deg, $accent-color -30%, $primary-color 100%);

// Buttons
$secondary-button-color: #373535;
$secondary-button-color-text: #9c9ba3;

// Parágrafo
$paragraph-color: #726868;
