@import '../abstracts/variables';

.dark {
  background-color: $bg-black;
  color: $pure-white-color;

  button {
    background: $gradient;
    color: $pure-white-color;

    &:hover {
      background-color: $gradient;
      color: #fff;
    }
  }
  a {
    color: $white-color;
  }
}

// // Se quiser, também pode adicionar componentes específicos:
// [data-theme="dark"] .card {
//   background-color: var(--color-surface);
//   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
// }
