@import '../abstracts/variables';
* {
  color: $secondary-button-color-text;
}

a {
  color: $bg-black;
}

button {
  color: $secondary-button-color;
  background-color: $primary-color !important;
}

.light {
  background-color: $white-color;
  color: $bg-black;
}
