html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100vw;
  min-height: 100vh;
  line-height: 1.6;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
